body {
    width: 100%;
    background-image: url(../image/bodybg.jpg);
    background-size: 100%;
}

#main {
    width: 90%;
    background-color: white;
    margin-top: 3%;
    position: absolute;
    left: 50%;
    margin-left: -45%;
    border-radius: 20px;
}

hr {
    width: 100%;
}

.eng {
    font-family: Arial, Helvetica, sans-serif;
}

#left {
    width: 37.8%;
    float: left;
    border-right: solid 1px black;
}

#right {
    width: 62%;
    float: right;
}