#certificate {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.cer {
    width: 90%;
    margin: auto;
}

.cerimg {
    width: 100%;
}

.cert0 {
    width: 10%;
}

.cert1 {
    width: 60%;
}

.cert2 {
    width: 30%;
}