#experience {
    width: 99.7%;
    display: block;
    float: right;
    text-align: center;
    background-color: rgb(255, 218, 185);
    border-radius: 20px;
}

#exp {
    width: 100%;
    margin-top: -20px;
}

.expt {
    padding: 20px;
}

.exptd {
    width: 48%;
}

.expphoto {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.exppp {
    margin-top: -25px;
}