#introduction {
    width: 100%;
    background-color: skyblue;
    display: block;
    float: left;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 3px;
}

#me {
    width: 62%;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.pic {
    overflow: hidden;
}

.pic img {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.pic img:hover {
    transform: scale(1.2, 1.2);
}

#name {
    font-family: DFKai-sb;
}

.icon {
    width: 60px;
    margin: 20px;
}